Django==6.1.1
djangorestframework==3.18.1
django-cors-headers==4.9.0
dj-database-url==3.1.2
gunicorn==25.1.0
whitenoise[brotli]==6.12.0
psycopg[binary]==3.3.6
python-dotenv==1.2.3
Pillow==12.3.0
numpy==2.3.5
opencv-python==5.0.0.93
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
torchvision==0.22.1+cpu
ultralytics==8.4.157
lap==0.5.13
paddlepaddle==3.3.1
paddleocr==3.7.0
